body {
    background-image: url("/assets/toe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  }

#overall-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px
}

.column1 {
  background-image: url(/assets/heart.png);
  height: 330px;
  width: 330px; 
  margin-right: auto;
}

.column2 {
  background-image: url(/assets/angry.png);
  height: 240px;
  width: 240px; 
  margin-left: auto;
}

#tic-tac-toe-board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 15px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #7dcfb6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2em;
}

#turn-set {
  font-size: 2em;
  color: #f79256;
}